version: "3.9"

services:
  mongodb:
    image: mongo:7
    container_name: mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"

  nodejs:
    image: node:20-alpine
    container_name: nodejs
    restart: unless-stopped
    depends_on:
      - mongodb
    ports:
      - "3000:3000"
    command:
      [
        "node",
        "-e",
        "console.log('Node container running'); setInterval(() => {}, 1000);",
      ]

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    depends_on:
      - nodejs
    ports:
      - "8888:80"
  nginx2:
    image: nginx:alpine
    container_name: nginx2
    restart: unless-stopped
    depends_on:
      - nodejs
    ports:
      - "7777:80"
